Repository darrenzo/electron-vite-vue-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

build: 剔除未使用的文件和依赖
  config/index.ts
  package.json
  src/main/config/StaticPath.ts
  src/main/config/const.ts
  src/main/config/hotPublish.ts
  src/main/services/windowManager.ts
  src/renderer/demo.css
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

build(.lintstagedrc): 提交commit时prettier只打印警告和错误等级以上的log
  .lintstagedrc
Due: none

build: 新增针对不同client的打包机制和环境变量获取机制
  .electron-vite/build.ts
  .electron-vite/client/china.ts
  .electron-vite/client/factory.ts
  .electron-vite/client/index.ts
  .electron-vite/client/ludafarm.ts
  .electron-vite/client/reolink.ts
  .electron-vite/client/russia.ts
  .electron-vite/client/uniden.ts
  .electron-vite/rollup.config.ts
  .electron-vite/utils/clientConfigManager.ts
  .electron-vite/utils/envManager.ts
  .electron-vite/utils/index.ts
  .electron-vite/vite.config.ts
  config/index.ts
  customTypes/global.d.ts
  env/.env
  env/development.env
  env/prod.env
  env/production.env
  env/test.env
  package.json
  src/main/index.ts
  src/main/services/quitManager.ts
  yarn.lock
Due: eslint --fix, prettier --write

build: 添加src/assets目录
  .electron-vite/client/index.ts
  .electron-vite/rollup.config.ts
  .electron-vite/utils/index.ts
  .electron-vite/vite.config.ts
  customTypes/shims-vue.d.ts
  src/assets/types/client.ts
  src/assets/types/index.ts
  src/assets/types/window.ts
  tsconfig.json
  tsconfig.node.json
Due: eslint --fix, prettier --write

build(src/main/index): 修改removeAsDefaultProtocolClient执行的判断条件
  src/main/index.ts
Due: eslint --fix, prettier --write

build: 根据环境MODE变量配置api地址
  .electron-vite/client/index.ts
  .electron-vite/utils/index.ts
  config/index.ts
  src/assets/types/client.ts
  src/main/index.ts
Due: eslint --fix, prettier --write

build(reouter、less、lint): 添加router示例，适配less，进行格式化校验
  .electron-vite/build.ts
  .electron-vite/client/china.ts
  .electron-vite/client/index.ts
  .electron-vite/client/uniden.ts
  .electron-vite/dev-runner.ts
  .electron-vite/rollup.config.ts
  .electron-vite/utils/index.ts
  .electron-vite/vite.config.ts
  .eslintignore
  .prettierignore
  .prettierrc
  .stylelintignore
  .vscode/extensions.json
  .vscode/settings.json
  src/main/config/StaticPath.ts
  src/main/config/menu.ts
  src/main/index.ts
  src/main/services/checkupdate.ts
  src/main/services/quitManager.ts
  src/main/services/windowManager.ts
  src/renderer/App.vue
  src/renderer/error.ts
  src/renderer/icon/demo-files/demo.css
  src/renderer/icon/demo-files/demo.js
  src/renderer/icon/demo.html
  src/renderer/icon/fonts/icomoon.eot
  src/renderer/icon/fonts/icomoon.svg
  src/renderer/icon/fonts/icomoon.ttf
  src/renderer/icon/fonts/icomoon.woff
  src/renderer/icon/style.css
  src/renderer/main.ts
  src/renderer/router/constantRouterMap.ts
  src/renderer/style/declare.less
  src/renderer/style/index.less
  src/renderer/style/variable.less
  src/renderer/utils/request.ts
  src/renderer/views/land-page.vue
  src/renderer/views/other-page.vue
  src/renderer/views/page-404.vue
  tsconfig.node.json
Due: eslint --fix, prettier --write, stylelint --fix

feat(store): pinia 添加完成
  package.json
  src/renderer/App.vue
  src/renderer/main.ts
  src/renderer/store/index.ts
  src/renderer/store/template.ts
  src/renderer/views/land-page.vue
  src/renderer/views/other-page.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

build(lint-staged): 修改prettier以及相关配置
  .lintstagedrc
  .prettierrc
  package.json
  src/renderer/App.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(多语言): 添加多语言机制
  .electron-vite/client/reolink.ts
  .electron-vite/dev-runner.ts
  .electron-vite/vite.config.ts
  .vscode/settings.json
  config/index.ts
  customTypes/importMeta.d.ts
  customTypes/shims-vue.d.ts
  env/development.env
  env/production.env
  env/test.env
  package.json
  src/assets/i18n/index.ts
  src/assets/i18n/locales/en.json
  src/assets/i18n/locales/ludafarm/en.json
  src/assets/i18n/locales/ludafarm/fr.json
  src/assets/i18n/locales/zh.json
  src/assets/types/enum.ts
  src/assets/types/index.ts
  src/renderer/App.vue
  src/renderer/main.ts
  tsconfig.node.json
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

feat(common): 验证外部依赖common的注入数据的可行性
  .electron-vite/rollup.config.ts
  .electron-vite/vite.config.ts
  src/assets/tools/error.ts
  src/assets/tools/index.ts
  src/common/remote-config/App.vue
  src/common/remote-config/index.ts
  src/common/remote-config/provider/index.ts
  src/common/remote-config/router/constantRouterMap.ts
  src/common/remote-config/router/index.ts
  src/common/remote-config/store/index.ts
  src/common/remote-config/store/template.ts
  src/common/remote-config/views/land-page.vue
  src/common/remote-config/views/other-page.vue
  src/common/remote-config/views/page-404.vue
  src/renderer/index.html
  src/renderer/permission.ts
  src/renderer/router/index.ts
  src/renderer/utils/index.ts
  src/renderer/utils/notification.ts
  src/renderer/utils/performance.ts
  src/renderer/utils/reoTimer.ts
  src/renderer/utils/request.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

docs(PC和web项目关系、ipc通信、客户端初始化、本地数据存储、多窗口): 添加部分图示说明文档
  doc/ipc.drawio
  doc/pcinit.drawio
  doc/project.drawio
  doc/storage.drawio
  doc/windows.drawio
Due: none

docs: 添加s3远程热更新配置目录结构和获取流程图
  doc/s3.drawio
  doc/远程配置获取与更新.svg
Due: none

docs: 新增svg文件和项目关系图
  doc/bcsdk.drawio
  doc/bcsdk.svg
  doc/ipc.svg
  doc/pcinit.svg
  doc/s3.svg
  doc/storage.svg
  doc/windows.svg
  doc/原有项目关系.drawio
  doc/原有项目关系.svg
  doc/新项目关系.drawio
  doc/新项目关系.svg
Due: none

docs: 移动drawio文件至drawio文件夹
  doc/drawio/bcsdk.drawio
  doc/drawio/ipc.drawio
  doc/drawio/pcinit.drawio
  doc/drawio/s3.drawio
  doc/drawio/storage.drawio
  doc/drawio/windows.drawio
  doc/drawio/原有项目关系.drawio
  doc/drawio/新项目关系.drawio
Due: none

feat(autoupdate): 删除原有的checkupdate，新增reoAutoUpdater
  src/main/services/checkupdate.ts
  src/main/services/ipcMain.ts
  src/main/services/reoAutoUpdater.ts
Due: eslint --fix, prettier --write

refactor(env和printLog): 额外向process注入env文件中的环境变量；实现printLog并测试注入到common的组件中
  .electron-vite/build.ts
  .electron-vite/dev-runner.ts
  .electron-vite/rollup.config.ts
  .electron-vite/utils/envManager.ts
  customTypes/global.d.ts
  customTypes/shims-vue.d.ts
  env/development.env
  env/production.env
  env/test.env
  src/assets/i18n/locales/ludafarm/fr.json
  src/assets/tools/index.ts
  src/assets/utils/errorManager.ts
  src/assets/utils/index.ts
  src/assets/utils/printLog.ts
  src/common/remote-config/index.ts
  src/common/remote-config/provider/index.ts
  src/common/remote-config/views/land-page.vue
  src/main/config/index.ts
  src/main/index.ts
  src/main/services/quitManager.ts
  src/renderer/main.ts
  src/renderer/utils/index.ts
  src/renderer/utils/vueErrorHandler.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore(rollip replace): 添加replace插件配置相关注释说明
  .electron-vite/rollup.config.ts
Due: eslint --fix, prettier --write

refactor(rollup replace): 修改主进程全局变量对象的命名
  .electron-vite/rollup.config.ts
  customTypes/global.d.ts
  src/main/index.ts
Due: eslint --fix, prettier --write

feat(加密模块): 主进程添加加密模块reoCryto
  src/main/services/index.ts
  src/main/services/reoCrypto.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{less,css,html})) or (any of: *.{yml,json,md})) or (any of: *.vue)
  stylelint --fix: (any of: *.{less,css,html}) or (any of: *.vue)
